{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-lg-12">
		<div class="box-element">
			<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
			<br>
			<br>
			<table class="table">
				<tr>
					<h4>{{ customer.name }}</h4>
					<th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
					<th><h5>Grand Total:<strong> ${{ order.get_cart_grandtotal|floatformat:2 }}</strong></h5></th>
					<th>
						<a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
					</th>
				</tr>
			</table>
		</div>

		<br>
		<div class="box-element">
			<div class="cart-row">
				<div style="flex:2"></div>
				<div style="flex:2"><strong>Item</strong></div>
				<div style="flex:1"><strong>Price</strong></div>
				<div style="flex:1"><strong>Quantity</strong></div>
				<div style="flex:1"><strong>Total</strong></div>
			</div>

			{% for orderitem in order.orderitem_set.all %}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{% static orderitem.product.image_url %}"></div>
				<div style="flex:2"><p>{{ orderitem.product.name }}</p></div>
				<div style="flex:1"><p>${{ orderitem.product.price }}</p></div>
				<div style="flex:1">
					<p class="quantity" id="{{ orderitem.product.name }} quantity">x{{ orderitem.quantity }}
					</p> 
					<div class="quantity">
						<img class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}"
						data-name="{{ orderitem.product.name }}" data-action="add">
				
						<img class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}"
						data-name="{{ orderitem.product.name }}" data-action="subtract">
					</div>
				</div>
				<div style="flex:1"><p>${{ orderitem.get_item_total }}</p></div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}
